@import "~assets/styles/colors.scss";

$searchbar-height: 1.5em;
$font-size: 0.75rem;
$icon-size: 0.9rem;

.search-bar {
    display: flex;
    flex-direction: row;
    height: $searchbar-height;
    align-items: center;
    border-radius: 10em;
    border: solid 2px $grey-secondary;
    padding: 0.2em 0.7em;
    &__icon {
        height: $icon-size;
        width: $icon-size;
        fill: $grey-primary;
        margin-right: 0.5em;
    }
    &__input {
        background-color: transparent;
        border: none;
        color: $grey-primary;
        font-size: $font-size;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $grey-primary;
            font-weight: 600;
        }
    }
}