@import "~assets/styles/colors.scss";
.menu-item {
    list-style-type: none;
    cursor: pointer;
    padding: 1em 2em;
    transition: all 0.15s ease-in-out;
    color: $blue-primary;
    &:hover {
        background-color:  $light-secondary;
    }
}