@import "~assets/styles/colors.scss";
@import "~assets/styles/mediaQueries.scss";

.servers-page {
    display: flex;
    flex-direction: column;
    margin: 2.7em 0;

    .server-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 0.75em;

        @include mq-1 {
            margin-left: 0.4em;
            margin-right: 0.4em;
            flex-direction: column;
            align-items: flex-start;
        }
        .server-info {
            @include mq-1 {
                margin-bottom: 1em;
            }
            h1 {
                margin: 0;
                color: $blue-primary;
                font-size: 1.3rem;
                font-weight: 600;
            }
            p {
                margin: 0;
                color: $blue-primary;
                font-size: 1em;
            }
        }
    }
}