@import "~assets/styles/colors.scss";

$navbar-height: 4.5em;

#app-navbar {
    background-color: $blue-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    height: $navbar-height;
    padding: 1.25em;

    .app-logo {
        align-self: stretch;
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 2px;
            background-color: $blue-secondary;
            margin-left: 2em;
        }
    }

}
