$green: #33CAD4;
$red: #EA5885;
$blue-primary: #494E61;
$blue-secondary: #757B8F;
$blue-highlight: #7D82F7;
$blue-highlight-light: #9CA7D3;
$grey-primary: #A9AEC1;
$grey-secondary: #D4D7E1;
$light-primary: #EDEDF0;
$light-secondary: #F2F3F6;



