@import "~assets/styles/colors.scss";
$button-size: 2.5rem;
.icon-btn  {
    display: grid;
    place-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: $button-size;
    width: $button-size;
    padding: 0.5em;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $light-secondary;
    }

    &__icon > svg {
        width: 80%;
        height: 80%;
        fill: $grey-primary;
    }
}