@import "~assets/styles/colors.scss";

.server-table {
    background-color: white;
    border-collapse: collapse;
    table-layout: fixed;
        thead > tr {
            height: 4.6em;
            & > th {
                color: $blue-highlight-light;
                font-weight: 600;
                font-size: 0.9em;
                text-align: start;
                padding: 1em 2em;
            }
        }
        tr {
            border: 3px solid $light-primary;
        }
        
}