@import "~assets/styles/colors.scss";
@import "~assets/styles/mediaQueries.scss";

.server-element{
    position: relative;
    &__name {
        font-weight: bold;
        color: $blue-primary;
        font-size: 0.8em;
    }
    &__option {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .option-menu {
            position: absolute;
            transform: translate(1.8em,-1.8em);
        }
    }
    td {
        padding: 1em 2em;
        transition: all ease-in-out 0.3s;
        &:nth-child(1) {
            width: auto;
            min-width: 200px;
         
        }
        &:nth-child(2) {
            width: 100%;
        }
        @include mq-2 {
            padding: 0.5em 1em;
            &:nth-child(1) {
            min-width: auto;
            }
        }

    }
}