@import "~assets/styles/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');

html, body, #app, #root {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    background-color: $light-secondary;
    font-family: 'Open Sans', sans-serif;
}

