@import "~assets/styles/colors.scss";

$font-size: 0.75em;
$circle-size: 1em;

.app-logo {
    display: flex;
    flex-direction: row;
    place-items: center;
    &__circle {
        box-sizing: border-box;
        display: inline-block;
        height: $circle-size;
        width: $circle-size;
        background-color: transparent;
        border-radius: 50%;
        border: solid 2px $blue-highlight;
        margin-right: 0.75em;
    }
    &__title {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: $font-size;
    }
}