@import "~assets/styles/colors.scss";
$status-font-size: 0.8em;

.server-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 6em;

    &__icon {
        height: $status-font-size - 0.3em;
        width: $status-font-size - 0.3em;
        margin-right: 0.6em;
    }
    &__title {
        font-size: $status-font-size;
        color: $blue-highlight-light;
        font-weight: 600;
    }

    &--ONLINE {
        &__title {
            color: $green;
        }
        &__icon  {
            fill: $green;
        }
    }
    &--OFFLINE {
        &__title {
            color: $blue-primary;
        }
        &__icon {
            fill: $red;
        }
    }
}